RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.soajonomadis.com/$1 [R,L]
RewriteCond %{HTTP_HOST} ^soajonomadis.com$
RewriteRule ^(.*) http://soajonomadis.com/$1 [QSA,L,R=301]